<ion-header>

  <ion-toolbar color="secondary">
    <ion-icon lot="start" name="arrow-back" color="tertiary"></ion-icon>
    <ion-title>Dados Pessoais</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content >

<!--Foto-->
<img class="foto" src="../../assets/img/perfil.jpg" alt="some text" > 

<!--Procurar Foto-->
<ion-button id ="Foto" size="large" fill="outline">
<h1 class="Procurar">Procurar Foto</h1>   
<ion-icon slot="end" name="search" color="secondary" ></ion-icon>
</ion-button>

<ion-list>
<ion-item > <!--Nome-->
<ion-col> 
<h1 class="titulo">Nome</h1>
<ion-input placeholder="Meu Nome" type="text" #name></ion-input>   
</ion-col>
</ion-item>

<ion-item > <!--Sobrenome-->
<ion-col> 
<h1 class="titulo">Sobrenome</h1>
<ion-input placeholder="Esobrenome" type="text" #sobrenme></ion-input>
</ion-col>
</ion-item>

<ion-item > <!--CPF-->
<ion-col> 
<h1 class="titulo">CPF</h1>
<ion-input placeholder="012.345.678-90" type="text" #cpf></ion-input>
</ion-col>
</ion-item>

<ion-item > <!--RG-->
<ion-col> 
<h1 class="titulo">RG</h1>
<ion-input placeholder="9876543210" type="text" #rg></ion-input>
</ion-col>
</ion-item>

<ion-item > <!--Celular-->
<ion-col> 
<h1 class="titulo">Celular</h1>
<ion-input placeholder="53 9 9999-9999" type="text" #celular></ion-input>
</ion-col>
</ion-item>

<ion-item > <!--Email-->
<ion-col> 
<h1 class="titulo">Email</h1>
<ion-input placeholder="seuemail@email.com" type="text" #email></ion-input>
</ion-col>
</ion-item>  

</ion-list>

<ion-row id="teste"> 
<ion-checkbox color="secondary"></ion-checkbox>
<h1 class="declaro">Declaro que li e aceito os </h1>
<a href="https://www.w3schools.com/html/">Termos de Uso</a>
</ion-row>


<ion-row>
<ion-col id="col-salvar">
<ion-button id ="Salvar" color="secondary" size="large">
  <h1 class="Salvar">Salvar</h1>
</ion-button>
</ion-col>

</ion-row>

<ion-row id="espaço">

</ion-row>

</ion-content>