<ion-content padding>
	<ion-grid>
	  <ion-row>
		<ion-col class="ion-margin">
		  <img src="../../../assets/img/logo_colorido.png" class="center" width="250" alt="eutrampo-logo">
  
		  <form method="post">
			
			<ion-item>
			  <ion-label class="label-form" position="floating">Email</ion-label>
			  <ion-input class="input-form" name="lEmail"></ion-input>
			</ion-item>
  
			<ion-item>
			  <ion-label class="label-form" position="floating">Senha</ion-label>
			  <ion-input class="input-form" type="password" name="1Password"></ion-input>
			</ion-item>
			<br>
			<ion-button id="entrar" type="submit" expand="block" color="secondary">Entrar</ion-button>
		  </form>
  
		  <div text-center style="margin-top: 20px; margin-bottom: 20px;">
			<button style="text-align: center;" class="loginBtn loginBtn--facebook" (click)="signInWithFB()">
			  Login com Facebook
			</button>
  
			<button style="text-align: center;" class="loginBtn loginBtn--google" (click)="signInWithGoogle()">
			  Login com Google
			</button>
		  </div>
  
		  <p text-center style="color: white;">Ainda não possui uma conta?</p>
		  <ion-button id="cadastro" expand="block" color="secondary" (click)="clickOnCadastro()">Cadastra-se</ion-button>
  
		</ion-col>
	  </ion-row>
	</ion-grid>
  
  </ion-content>