<ion-header>
    <ion-toolbar color="secondary">
      <img src="../../../assets/img/logo_colorido.png" class="center" width="100" alt="eutrampo-logo">
    </ion-toolbar>
  </ion-header>

<ion-content padding>
	<ion-grid>
    <ion-row>
      <ion-col>
      <ion-card class="card-recomendacao">
        <ion-card-header style="font-size: 40px;">
          Plano Senior UNIMED (RS)
        </ion-card-header>

        <ion-item class="activated">
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-label>Tipo: Ambulatório</ion-label>
        </ion-item>
      
        <ion-item>
            <ion-icon name="add-circle" slot="start"></ion-icon>
          <ion-label> 5 Unidades em Rio Grande</ion-label>
        </ion-item>
      
        <ion-item class="activated">
            <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>300 Profissionais Disponíveis em sua área</ion-label>
        </ion-item>
      
        <ion-item class="activated">
            <ion-icon name="wallet" slot="start"></ion-icon>
          <ion-label>R$ 1.450,00</ion-label>
        </ion-item>
          <ion-item style="font-size: 40px;">
              Match: 98%
            </ion-item>
          <ion-item class ="activated">
            <ion-button color="dark" > Compre </ion-button>
            </ion-item>
        </ion-card>
    </ion-col>

    <ion-col>
        <ion-card class="card-recomendacao">
          <ion-card-header style="font-size: 40px;">
            Plano Senior Amil (RS)
          </ion-card-header>
  
          <ion-item class="activated">
              <ion-icon name="heart" slot="start"></ion-icon>
              <ion-label>Tipo: Ambulatório + Dentista</ion-label>
          </ion-item>
        
          <ion-item>
              <ion-icon name="add-circle" slot="start"></ion-icon>
            <ion-label> 5 Unidades em Rio Grande</ion-label>
          </ion-item>
        
          <ion-item class="activated">
              <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>80 Profissionais Disponíveis em sua área</ion-label>
          </ion-item>
        
          <ion-item class="activated">
              <ion-icon name="wallet" slot="start"></ion-icon>
            <ion-label>R$ 1.550,00</ion-label>
          </ion-item>
  
  
            <ion-item style="font-size: 40px;">
                Match: 89%
              </ion-item>
            <ion-item class ="activated">
              <ion-button color="dark" > Compre </ion-button>
              </ion-item>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-button padding expand = "full" style="color: black">Ver mais
  </ion-button>
  
  </ion-content>