<ion-header>
    <ion-toolbar color="secondary">
      <a href="/"><img src="../../../assets/img/logo_colorido.png" class="center" width="100" alt="eutrampo-logo"></a>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
	<ion-grid>
    <ion-row>
      <h2>Resultados Encontrados</h2>
      <ion-col>
      <ion-card >
        <ion-card-header style="font-size: 20px; color: black;">
          Plano Sênior UNIMED (RS)
        </ion-card-header>

        <ion-item>
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-label>Tipo: Ambulatório</ion-label>
        </ion-item>
        
        <ion-item>
            <ion-icon  name="add-circle" slot="start"></ion-icon>
            <ion-label> 5 Unidades em Rio Grande</ion-label>
        </ion-item>
      
        <ion-item>
            <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>300 Profissionais Disponíveis em sua área</ion-label>
        </ion-item>
      
        <ion-item>
            <ion-icon name="wallet" slot="start"></ion-icon>
          <ion-label>R$ 1.450,00</ion-label>
        </ion-item>
          <ion-item class="match" style="font-size: 30px;">
              Match: 95%
            </ion-item>
          <ion-item>
            <ion-button color="dark" slot="end"> Compre </ion-button>
            </ion-item>
        </ion-card>
    </ion-col>

    <ion-col>
        <ion-card>
          <ion-card-header style="font-size: 20px; color: black;">
            Plano Sênior Amil (RS)
          </ion-card-header>
  
          <ion-item>
              <ion-icon name="heart" slot="start"></ion-icon>
              <ion-label>Tipo: Ambulatório + Dentista</ion-label>
          </ion-item>
        
          <ion-item>
              <ion-icon name="add-circle" slot="start"></ion-icon>
            <ion-label> 5 Unidades em Rio Grande</ion-label>
          </ion-item>
        
          <ion-item>
              <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>80 Profissionais Disponíveis em sua área</ion-label>
          </ion-item>
        
          <ion-item>
              <ion-icon name="wallet" slot="start"></ion-icon>
            <ion-label>R$ 1.550,00</ion-label>
          </ion-item>
  
  
            <ion-item class="match" style="font-size: 30px;">
                Match: 89%
              </ion-item>
            <ion-item>
              <ion-button color="dark" slot="end"> Compre </ion-button>
              </ion-item>
          </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
        <ion-card >
          <ion-card-header style="font-size: 20px; color: black;">
            Plano Padrão UNIMED (RS)
          </ion-card-header>
  
          <ion-item>
              <ion-icon name="heart" slot="start"></ion-icon>
              <ion-label>Tipo: Ambulatório</ion-label>
          </ion-item>
        
          <ion-item>
              <ion-icon name="add-circle" slot="start"></ion-icon>
            <ion-label> 5 Unidades em Rio Grande</ion-label>
          </ion-item>
        
          <ion-item>
              <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>100 Profissionais Disponíveis em sua área</ion-label>
          </ion-item>
        
          <ion-item>
              <ion-icon name="wallet" slot="start"></ion-icon>
            <ion-label>R$ 850,00</ion-label>
          </ion-item>
            <ion-item class="match" style="font-size: 30px;">
                Match: 90%
              </ion-item>
            <ion-item>
              <ion-button color="dark" slot="end"> Compre </ion-button>
              </ion-item>
          </ion-card>
      </ion-col>
  
      <ion-col>
          <ion-card >
            <ion-card-header style="font-size: 20px; color: black;">
              Plano Júnior Amil (RS)
            </ion-card-header>
    
            <ion-item>
                <ion-icon name="heart" slot="start"></ion-icon>
                <ion-label>Tipo: Ambulatório + Dentista</ion-label>
            </ion-item>
          
            <ion-item>
                <ion-icon name="add-circle" slot="start"></ion-icon>
              <ion-label> 5 Unidades em Rio Grande</ion-label>
            </ion-item>
          
            <ion-item>
                <ion-icon name="people" slot="start"></ion-icon>
              <ion-label>50 Profissionais Disponíveis em sua área</ion-label>
            </ion-item>
          
            <ion-item>
                <ion-icon name="wallet" slot="start"></ion-icon>
              <ion-label>R$ 600,00</ion-label>
            </ion-item>
    
    
              <ion-item class="match" style="font-size: 30px;">
                  Match: 70%
                </ion-item>
              <ion-item>
                <ion-button color="dark" slot="end"> Compre </ion-button>
                </ion-item>
            </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
          <ion-card >
            <ion-card-header style="font-size: 20px; color: black;">
              Plano Júnior UNIMED (RS)
            </ion-card-header>
    
            <ion-item>
                <ion-icon name="heart" slot="start"></ion-icon>
                <ion-label>Tipo: Ambulatório</ion-label>
            </ion-item>
          
            <ion-item>
                <ion-icon name="add-circle" slot="start"></ion-icon>
              <ion-label> 5 Unidades em Rio Grande</ion-label>
            </ion-item>
          
            <ion-item>
                <ion-icon name="people" slot="start"></ion-icon>
              <ion-label>300 Profissionais Disponíveis em sua área</ion-label>
            </ion-item>
          
            <ion-item>
                <ion-icon name="wallet" slot="start"></ion-icon>
              <ion-label>R$ 800,00</ion-label>
            </ion-item>
              <ion-item class="match" style="font-size: 30px;">
                  Match: 98%
                </ion-item>
              <ion-item>
                <ion-button color="dark" slot="end"> Compre </ion-button>
                </ion-item>
            </ion-card>
        </ion-col>
    
        <ion-col>
            <ion-card >
              <ion-card-header style="font-size: 20px; color: black;">
                Plano Comum Amil (RS)
              </ion-card-header>
      
              <ion-item>
                  <ion-icon name="heart" slot="start"></ion-icon>
                  <ion-label>Tipo: Ambulatório + Dentista</ion-label>
              </ion-item>
            
              <ion-item>
                  <ion-icon name="add-circle" slot="start"></ion-icon>
                <ion-label> 5 Unidades em Rio Grande</ion-label>
              </ion-item>
            
              <ion-item>
                  <ion-icon name="people" slot="start"></ion-icon>
                <ion-label>80 Profissionais Disponíveis em sua área</ion-label>
              </ion-item>
            
              <ion-item>
                  <ion-icon name="wallet" slot="start"></ion-icon>
                <ion-label>R$ 500,00</ion-label>
              </ion-item>
      
      
                <ion-item class="match" style="font-size: 30px;">
                    Match: 65%
                  </ion-item>
                <ion-item>
                  <ion-button color="dark" slot="end"> Compre </ion-button>
                  </ion-item>
              </ion-card>
          </ion-col>
        </ion-row>
  </ion-grid>
  
  </ion-content>